USE [DBSDI]
GO

ALTER TABLE [dbo].[TIB_USER_GROUP] DROP CONSTRAINT [FK_TIB_USER_GROUP_TIB_GROUP]
GO

ALTER TABLE [dbo].[TIB_USER_GROUP] DROP CONSTRAINT [FK_TIB_USER_GROUP_TIB_USER]
GO

DROP TABLE [dbo].[TIB_USER_GROUP]
GO

DROP PROCEDURE [dbo].[DepurationTibLog]
GO

DROP PROCEDURE [dbo].[DepurationTibLogError]
GO

DROP TABLE [dbo].[TIB_LOG]
GO

DROP TABLE [dbo].[TIB_LOG_ERROR]
GO

DROP TABLE [dbo].[TIB_USER]
GO

DROP TABLE [dbo].[TIB_GROUP]
GO

DROP TABLE [dbo].[TIB_PROCESS_CONTROL]
GO