USE [DBSTG]
GO
/****** Object:  Table [dbo].[CPE_AUDITORIA] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CPE_AUDITORIA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CPE_AUDITORIA](
	[AUDIT_NUMBER] [int] IDENTITY(1,1) NOT NULL,
	[AUDIT_DATE] [datetime] NOT NULL,
	[DOWNLOAD_DATE] [datetime] NULL,
	[STATUS] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[AUDIT_NUMBER] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO