USE [DBSDI]
GO
/****** Object:  Table [dbo].[TIB_PROCESS_CONTROL]    Script Date: 03/25/2014 10:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIB_PROCESS_CONTROL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SERVICE_NAME] [varchar](250) NULL,
	[PROCESS] [varchar](250) NULL,
	[VERTICAL] [varchar](250) NULL,
 CONSTRAINT [INDEX_PK_TIBPROCESSCONTROL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIB_GROUP]    Script Date: 03/25/2014 10:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIB_GROUP](
	[ID_GROUP] [int] IDENTITY(1,1) NOT NULL,
	[GROUP_NAME] [varchar](50) NOT NULL,
	[PROJECT_NAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TIB_GROUP] PRIMARY KEY CLUSTERED 
(
	[ID_GROUP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIB_USER]    Script Date: 03/25/2014 10:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIB_USER](
	[ID_USER] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
 CONSTRAINT [PK_TIB_USER] PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIB_LOG_ERROR]    Script Date: 03/25/2014 10:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIB_LOG_ERROR](
	[RUN_ID] [int] IDENTITY(1,1) NOT NULL,
	[ERROR_DATE] [datetime] NULL,
	[SEVERITY] [varchar](50) NULL,
	[PROCESS] [varchar](250) NULL,
	[SERVICE_NAME] [varchar](250) NULL,
	[ERROR_CODE] [varchar](90) NULL,
	[DESCRIPTION_ERROR] [varchar](4000) NULL,
	[MESSAGE_ERROR] [text] NULL,
	[ATT1] [varchar](250) NULL,
	[ATT2] [varchar](250) NULL,
 CONSTRAINT [INDEX_PK_TIBLOGERROR] PRIMARY KEY CLUSTERED 
(
	[RUN_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [INDEX_ERROR_CODE] ON [dbo].[TIB_LOG_ERROR] 
(
	[ERROR_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [INDEX_ERROR_DATE] ON [dbo].[TIB_LOG_ERROR] 
(
	[ERROR_DATE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [INDEX_SERVICE_NAME] ON [dbo].[TIB_LOG_ERROR] 
(
	[SERVICE_NAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIB_LOG]    Script Date: 03/25/2014 10:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIB_LOG](
	[RUN_ID] [int] IDENTITY(1,1) NOT NULL,
	[INTEGRATION_ID] [int] NULL,
	[INTEGRATION_NAME] [varchar](250) NULL,
	[INSTANCE_NAME] [varchar](250) NULL,
	[PROCESS_ID] [varchar](250) NULL,
	[RECORD_COUNT] [int] NULL,
	[RUN_DATE] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE CLUSTERED INDEX [INDEX_RUN_ID] ON [dbo].[TIB_LOG] 
(
	[RUN_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [INDEX_INTEGRATION_NAME] ON [dbo].[TIB_LOG] 
(
	[INTEGRATION_NAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [INDEX_RUN_DATE] ON [dbo].[TIB_LOG] 
(
	[RUN_DATE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIB_USER_GROUP]    Script Date: 03/25/2014 10:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIB_USER_GROUP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USER] [int] NULL,
	[ID_GROUP] [int] NULL,
 CONSTRAINT [PK_TIB_USER_GROUP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_TIB_USER_GROUP_TIB_GROUP]    Script Date: 03/25/2014 10:42:04 ******/
ALTER TABLE [dbo].[TIB_USER_GROUP]  WITH CHECK ADD  CONSTRAINT [FK_TIB_USER_GROUP_TIB_GROUP] FOREIGN KEY([ID_GROUP])
REFERENCES [dbo].[TIB_GROUP] ([ID_GROUP])
GO
ALTER TABLE [dbo].[TIB_USER_GROUP] CHECK CONSTRAINT [FK_TIB_USER_GROUP_TIB_GROUP]
GO
/****** Object:  ForeignKey [FK_TIB_USER_GROUP_TIB_USER]    Script Date: 03/25/2014 10:42:04 ******/
ALTER TABLE [dbo].[TIB_USER_GROUP]  WITH CHECK ADD  CONSTRAINT [FK_TIB_USER_GROUP_TIB_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[TIB_USER] ([ID_USER])
GO
ALTER TABLE [dbo].[TIB_USER_GROUP] CHECK CONSTRAINT [FK_TIB_USER_GROUP_TIB_USER]
GO
