USE [DBSTG]
GO
/****** Object:  Table [dbo].[CPE_CUST_GRP_CUSTOMER]    Script Date: 08/26/2014 08:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CPE_CUST_GRP_CUSTOMER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CPE_CUST_GRP_CUSTOMER](
	[CUST_GRP_ID] [bigint] NOT NULL,
	[CUST_ID] [varchar](40) NOT NULL,
 CONSTRAINT [PK_CPE_CUST_GRP_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[CUST_GRP_ID] ASC,
	[CUST_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
