USE [DBSTG]
GO
/****** Object:  Table [dbo].[CPE_AUDITORIA] ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CPE_AUDITORIA]') AND type in (N'U'))
DROP TABLE [dbo].[CPE_AUDITORIA]
GO
